 <div class="container">
  <div class="bs-component" style="margin-bottom: 15px;">
    <a href="#" class="btn btn-default top-btn" style="float: left;">Search</a>
    <a href="#" class="btn btn-default top-btn" style="float: right;">Filter</a>
  </div>
  <% @jobs.each do |job| %>
  <br>
  <div class="col-md-8">
    <a href=<%= job_path(job.id) %> id="job_<%= job.id %>">
      <img src="/images/job_pic.png" class="big-image">
      <div class="panel panel-primary">
        <% if job.description %>
          <div class="panel-heading">
            <% if job.title %>
              <h3 class="panel-title">Job Description: <%= job.title %></h3>
            <% else %>
              <h3 class="panel-title">Job Description</h3>
            <% end %>

            </div>
          <div class="panel-body">
            <p><%= job.short_desc %></p>
          </div>
        <% end %>

      </div>
    </a>
    <div class="location">
      <p>Location: <%=job.location %> </p>
    </div>

    <div>
      <%= link_to 'Show Interest', job_tenders_path(job), method: :post, class:"btn btn-primary btn-lg btn-interest" %>

    </div>
  </div>
  <% end %>
</div>
