<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%=@job.title%></h3>
      </div>
      <div class="panel-body">
        <%= image_tag @job.image.url(:medium) %>
        <p>Description: <%= @job.description %></p>
        <p>Location: <%=@job.location %></p>
        <div id="map<%=@job.id%>" class="map"></div>
        <script type="text/javascript">
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map<%=@job.id%>'), {
                center: {lat:-41.25, lng:174.75},
                zoom: 10
            });
            var geocoder = new google.maps.Geocoder();
            $(document).ready( function() {
              geocodeAddress(geocoder, map);
            });
          }
          function geocodeAddress(geocoder, resultsMap) {
            var address = "<%=@job.location%>, Wellington";
            console.log(address);
            geocoder.geocode({'address': address}, function(results, status) {
              if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: results[0].geometry.location
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCX3bWAIQcrG0_Yg-HZV_5BeUTiaNvcAE&callback=initMap"></script>
        <% if !@job_complete %>
          <% if @job.user == current_user %>
            <%= link_to 'Delete job', job_path(@job), method: :delete, class:"btn btn-primary btn-lg btn-interest" %>
            <% if @accepted_tender %>
              <a href="<%=@job.id%>/ratings/new" class="btn btn-primary btn-lg btn-interest">Rate Your Job</a>
            <% end %>
            <% if @accepted_tender  %>
              <p>Tradie username: <%= @accepted_tradie.username %></p>
              <p>Tradie rating: <%= @accepted_tradie.rating %></p>
              <p>Tradie email: <%= @accepted_tradie.email %></p>
              <p>Tradie address: <%= @accepted_tradie.address %></p>
              <p class="btn btn-success btn-sm">Accepted</p><a href="../users/<%=@accepted_tender.user_id%>" class="btn btn-info btn-sm">View Profile</a>
            <% end %>


              <% @tendering_tradies.each do |tradie, tender| %>
                <br>
                <%= image_tag tradie.image.url(:thumb), class: "tradie-thumb" %>
                <p>Tradie username: <%= tradie.username %></p>
                <p>Tradie rating: <%= tradie.rating %></p>
                <p>Tradie description: <%= tradie.description %></p>
                <% if @tender_changeable %>
                  <%= link_to 'Accept Tender', tender_path(tender), method: :patch, class:"btn btn-info" %>
                <% end %>
              <% end %>


          <% else %>

            <% if (current_user && !@job.tenders.find_by_user_id(current_user.id))||(!current_user) %>
              <%= link_to 'Show Interest', job_tenders_path(@job), method: :post, class:"btn btn-primary btn-lg btn-interest" %>
            <% else %>
              <%= link_to 'Applied to job', job_path(@job), class:"btn btn-primary btn-lg btn-interest" %>
            <% end %>


          <%end%>

        <% else %>

          <% if @accepted_tender%>
            <p>Job complete. Job rating: <%= @accepted_tender.rating  %></p>
            <%if !@accepted_tender.comment%>
              <h2>Leave a comment:</h2>
              <%= form_for @accepted_tender do |f| %>
                <%= f.text_area :comment %><br />
                <%= f.submit %>
              <% end %>
            <%else%>
              <p>Your Comment: <%= @accepted_tender.comment%> </p>
            <%end%>

          <%else%>
            <p>I am error</p>
          <%end%>


      <% end %>

    </div>
  </div>
</div>
