<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <h2>Update user profile</h2>
  <%= image_tag @user.image.url(:medium), class:"job-view-image"%>
  <%= form_for(@user, html: { class: "form-horizontal"}) do |f| %>
    <div class="form-group input-group">
      <%= f.label :username, class: "form-label input-group-addon" %>

      <%= f.text_field :username, required: true, placeholder: "Please enter your user name", class: "form-control" %>

    </div>
    <div class="form-group input-group">
      <%= f.label :given_name, class: "form-label input-group-addon" %>
      <%= f.text_field :given_name, required: true, placeholder: "Please enter your given name", class: "form-control" %>
    </div>
    <div class="form-group input-group">
      <%= f.label :family_name, class: "form-label input-group-addon" %>
      <%= f.text_field :family_name, required: true, placeholder: "Please enter your family name", class: "form-control" %>
    </div>
    <div class="form-group input-group">
      <%= f.label :email, class: "form-label input-group-addon" %>
      <%= f.text_field :email, required: true, readonly: true, placeholder: "Please enter your email address", class: "form-control" %>
    </div>
    <div class="form-group input-group">
      <%= f.label :address, class: "form-label input-group-addon" %>
      <%= f.text_field :address, required: true, placeholder: "Please enter your address", class: "form-control" %>
    </div>
    <div class="form-group input-group">
      <%= f.label :phone_number, class: "form-label input-group-addon" %>
      <%= f.text_field :phone_number, required: true, placeholder: "Please enter your phone number", class: "form-control" %>
    </div>
      <div class="form-group input-group">
        <%=f.label :image, class: "col-sm-2 control-label"%>
      <div class="col-sm-10">
        <%=f.file_field :image, class:"btn btn-primary btn-lg active" %>
      </div>
    </div>
    <br><label>Only complete these fields if you wish to be listed as a tradie</label><br>
    <div class="form-group input-group">
      <%= f.label :description, class: "form-label input-group-addon" %>
      <%= f.text_area :description, required: false, placeholder: "Describe yourself and your skills", class: "form-control" %>
    </div>
    <%= f.label :profession  %>:<br>
    <%= f.radio_button(:profession, "Builder") %> Builder <br>
    <%= f.radio_button(:profession, "Electrician") %> Electrician <br>
    <%= f.radio_button(:profession, "Plumber") %> Plumber <br>
    <%= f.radio_button(:profession, "Painter") %> Painter <br>
    <%= f.radio_button(:profession, "Plasterer") %> Plasterer <br>
    <%= f.radio_button(:profession, "General Handy Man") %> General Handy Man <br>
     <%= f.submit %>
  <% end %>
</div>
