<!DOCTYPE html>
<html>
<head>
  <title>GetTradies</title>
   <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <% if flash.alert %>
          <div class="messages">
            <div class="alert alert-danger" role="alert">
              <%= flash.alert %>
            </div>
          </div>
        <% end %>

      <% if flash.notice %>
        <div class="messages">
          <div class="alert alert-success" role="alert">
            <%= flash.notice %>
          </div>
        </div>
      <% end %>

<%= yield %>

</body>
</html>
