<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><% if @title != nil %><%= @title %> | <% end %>GetTradies</title>

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="container">

    <heading class="row">
      <h1 class="col-xs-12 col-sm-6 col-md-4">Get Tradies</h1>
      <nav class="col-xs-12 col-sm-6 col-md-8">
        <div class="xs-center sm-pull-right ">
          <% if !session[:user_id] %>
            <%= render '/sessions/new.html.erb' %>
            <% if !new_user_path %>
              <%= link_to 'Or sign up', new_user_path, method: :get, class:"btn btn-primary btn-block" %>
            <% end %>
          <% else %>
            <%= render '/sessions/end.html.erb' %>
            <%= render '/jobs/post.html.erb' %>
            <%= render '/users/profile.html.erb' %>
          <% end %>
        </div>
      </nav>
    </heading>

    <main class="row">

      <% if flash.alert %>
        <div class="messages">
          <div class="alert alert-danger" role="alert">
            <%= flash.alert %>
          </div>
        </div>
      <% end %>

      <% if flash.notice %>
        <div class="messages">
          <div class="alert alert-success" role="alert">
            <%= flash.notice %>
          </div>
        </div>
      <% end %>

      <%= yield %>

    </main>

  </body>
</html>
